/* Hide scrollbar for Chrome, Edge, Safari */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox and IE */
body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Force overlay scrollbar */
html {
    overflow-y: overlay;
}


/* Layout e Reset */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--pico-background-color);
    color: var(--pico-color);
    overflow-y: auto;
    scroll-behavior: smooth;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


h1 {
    font-family: "Roboto mono", serif;
    font-weight: 100;
    font-size: 1.2em;
    text-align: left;
    color: var(--pico-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}


nav a {
    padding: 0.4rem 0.4rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
    border: none;
    background: transparent; 
    border-radius: 0; 
    cursor: pointer; 
    transition: font-weight 0.1s ease, text-decoration 0.1s ease, opacity 0.3s ease;
    outline: none;
    color: inherit;
}

nav a:hover {
    border: none; 
    text-decoration: underline; 
    opacity: 0.8;
    outline: none;
    color: inherit;
}

nav a[aria-current="p"] {
    font-size: 0.8rem;
    text-decoration: underline !important;

}


#theme-toggle {
    padding: 0;
    margin-left: 0;
    font-size: 1rem;
    border: none;
    background: transparent;
    color: var(--pico-color);
    cursor: pointer;
    transition: opacity 0.3s ease;
}

#theme-toggle:hover {
    opacity: 0.7;
}


main.container {
    padding: 2rem;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

table.custom-table {
    font-size: 0.7rem;
    table-layout: auto;
    width: auto;
    max-width: 100%;
    background-color: var(--pico-card-background-color);
    color: var(--pico-color);
    border-radius: var(--pico-border-radius);
    border-collapse: collapse;
}

th, td {
    padding: 0.4rem 0.8rem;
    text-align: left;
    border-bottom: 1px solid var(--pico-muted-border-color);
    white-space: normal; /* permite quebra de linha dentro da célula */
    max-width: 300px; /* (opcional) Limite máximo por célula */
    word-wrap: break-word; /* quebra palavras longas */
}

th {
    font-weight: 600;
}

