<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">

  <script>
    const currentTheme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-theme', currentTheme);
  </script>

  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="app/static/css/style.css">

  <title>{{ title }}</title>
</head>

<body>
  <main class="container">
    <nav>
      <ul>
        <li><h1><strong>{{ title }}</strong></h1></li>
      </ul>
      <ul>
        <li><a href="?p=forecast" id="btn-forecast" class="button secondary" data-page="forecast">forecast</a></li>
        <li><a href="?p=observations" id="btn-observations" class="button secondary" data-page="observations">observations</a></li>
        <li><a href="?p=dashboard" id="btn-dashboard" class="button secondary" data-page="dashboard">dashboard</a></li>
        <li><div id="theme-toggle" class="contrast">◑</div></li>
      </ul>
    </nav>

    <!-- Forecast default wrapped in responsive wrapper -->
    <div id="showcase" class="showcase">
      <div class="table-wrapper">
        {{ forecast_table | safe }}
      </div>
    </div>
  </main>

  <!-- Tables as variables -->
  <script>
    window.forecastTable = `<div class="table-wrapper">{% autoescape false %}{{ table_html_forecast }}{% endautoescape %}</div>`;
    window.observationsTable = `<div class="table-wrapper">{% autoescape false %}{{ table_html_observations }}{% endautoescape %}</div>`;
    window.dashboardTable = `<div class="table-container">
  <div class="table-wrapper">
    {{ table_html_cold_hours | safe }}
  </div>
  <div class="table-wrapper">
    {{ table_html_missing | safe }}
  </div>`;
  </script>

  <script src="app/static/script.js" defer></script>

</body>

</html>
