name: Fetch IPMA & Deploy static site
on:
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:
  push:
    branches: [main, refactor/simplify-structure-and-docs]

permissions:
  contents: write

jobs:
  fetch-ipma:
    runs-on: ubuntu-latest
    environment: ipma
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install CA Certificates (for TLS)
        run: sudo apt-get update && sudo apt-get install -y ca-certificates

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run IPMA script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: python -m app.data.fetch

  build:
    needs: fetch-ipma
    runs-on: ubuntu-latest
    environment: ipma
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run export script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: python -m app.views.export

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: build-output
          path: dist

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download build
        uses: actions/download-artifact@v4
        with:
          name: build-output

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          publish_branch: gh-pages