name: Fetch IPMA & Update View
on:
  schedule:
    - cron: "0 */2 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  fetch-ipma:
    runs-on: ubuntu-latest
    environment: ipma
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install CA Certificates (for TLS)
        run: sudo apt-get update && sudo apt-get install -y ca-certificates

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run IPMA script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: python -m app.data.fetch

  update-view:
    needs: fetch-ipma
    runs-on: ubuntu-latest
    environment: ipma
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.9"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run view script
        env:
          MONGO_URI: ${{ secrets.MONGO_URI }}
        run: python -m app.views.view

      - name: Commit and push changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          git add index.html app/static/tables.js

          if git diff --cached --quiet; then
            echo "No view changes to commit."
          else
            git commit -m "update view"
            git push origin main
          fi
